body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    min-width: 960px;
    max-width: 960px;
}

.container {
    display: flex;
    width: 960px;
    max-width: 960px;
    height: 800px;
    max-height: 800px;
    margin-top: 20px;
    flex-wrap: wrap;
    
}

.button-box {
    display: flex;
    justify-content: center;
}

button {
    /*the styling for button is a directly from this website: https://getcssscan.com/css-buttons-examples*/
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
